<div class="font-umbrella min-h-screen relative overflow-hidden">
  <video autoplay muted loop src="<%= @video_url %>" type="video/mp4" id="myVideo" class="brightness-75 md:block w-full h-full object-cover md:w-full md:h-auto absolute">
  </video>
</div>