<div class="relative min-h-screen overflow-hidden" data-controller="home-mac">
  <%= image_tag "macbook.jpg", class: "animate-kenburns-top md:block w-full h-full object-cover md:w-full md:h-auto absolute" %>
  <div data-home-mac-target="macElement" class="hidden">
    <div class="absolute z-50 text-4xl md:text-7xl animate-focus-in-expand-fwd">
      あああああああ
    </div>
  </div>
</div>