<div data-controller="home-mac">
  <div data-home-mac-target="mocElement" class="hidden mockup-window min-h-screen m-2 relative border bg-base-300">
    a
  </div>

  <div data-home-mac-target="macElement" class="" >
  <%= image_tag "macbook.jpg", class: "md:block w-full h-full object-cover md:w-full md:h-auto absolute" %>
  </div>
</div>