<div data-controller="home-mac">
  <div data-home-mac-target="mocElement" class="hidden">
    <%= image_tag "mac.jpg", class: "min-h-screen" %>
  </div>

  <div data-home-mac-target="macElement" class="" >
  <%= image_tag "macbook.jpg", class: "animate-kenburns-top md:block w-full h-full object-cover md:w-full md:h-auto absolute" %>
  </div>
</div>