<div id="heropattern", class="min-h-screen pt-10">
  <div class="text-9xl mt-10">研究所へようこそ</div>
  <div class="flex flex-col my-20">
    <%= link_to "カロリーカウンターAIへ",calorie_counter_chats_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false }  %>
    <%= link_to "ポモドーロタイマーへ",pomodoro_timer_timers_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false }  %>
    <%= link_to "あの日奪われた傘の行方を僕達はまだ知らない",stolen_umbrella_umbrellas_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false } %>
    <%# link_to "AIタスクマスター",aidoji_tasks_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false } %>
    <%# link_to "脱出ゲーム",escape_homes_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false } %>
    <%= link_to "最強に面白いアプリへ",saikyouni_omoroi_app_path, class: "btn btn-ghost normal-case text-xl m-4"%>
  </div>
</div>