<div class="min-h-screen heropattern-floatingcogs-gray-400 pt-10">
  <div class="text-9xl mt-10 backdrop-blur">研究所へようこそ</div>
  <div class="flex flex-col m-20">
    <%= link_to "カロリーカウンターAIへ",calorie_counter_chats_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false }   %>
    <%= link_to "ポモドーロタイマーへ",pomodoro_timer_timers_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false }  %>
    <%= link_to "最強に面白いアプリへ",saikyouni_omoroi_app_path, class: "btn btn-ghost normal-case text-xl m-4", data: { turbo: false }  %>
  </div>
</div>


<script>
let body = document.getElementById('theme-body');
let toggle = document.getElementById('themeToggle');
let themes = ["dark","synthwave","cyberpunk","valentine","halloween","forest","aqua","black","dracula","night"];


window.addEventListener('DOMContentLoaded', function() {
  if (document.cookie.indexOf('selectedTheme=light') >= 0) {
    toggle.checked = true;
  } else {
    toggle.checked = false;
  }
});

toggle.addEventListener('change', function() {
  let date = new Date();
  date.setTime(date.getTime() + (365 * 24 * 60 * 60 * 1000));
  let expires = "; expires=" + date.toUTCString();

  // Select a random theme from the themes array.
  let theme = themes[Math.floor(Math.random() * themes.length)];

  if (this.checked) {
    body.setAttribute('data-theme', 'light');
    document.cookie = 'selectedTheme=light' + expires + '; path=/';
  } else {
    body.setAttribute('data-theme', theme);
    document.cookie = 'selectedTheme=' + theme + expires + '; path=/';
  }
});
</script>