<div class="text-9xl">研究所へようこそ</div>
<%= link_to "カロリーカウンターAIへ",calorie_counter_chats_path, class: "btn btn-ghost normal-case text-xl", data: { turbo: false }   %>
<%= link_to "最強のポモドーロタイマーへ",pomodoro_timer_timers_path, class: "btn btn-ghost normal-case text-xl", data: { turbo: false }  %>