<% if object.errors.any? %>
  <div id="error_messages" class="m-2">
    <ul class="list-disc list-inside mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>