<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <div class="items-center grid grid-cols-1 sm:grid-cols-2">
    <div class="col-span-1 ">
      © 2023 Keen Unleashing of Sophisticated App Institute
    </div>
    <div class="col-span-1">
      <%= link_to "利用規約", terms_path %> | 
      <%= link_to "プライバシーポリシー", privacy_policy_path %> | 
      <%= link_to "製作者Twitter","https://twitter.com/yuu_pppppp" %> |
      <%= link_to 'Twitterシェア', "https://twitter.com/share?url=https://kuso-app-institute.magia.runteq.jp/", target: '_blank', data: {show_count: 'false'} %>
    </div>
   </div>
</footer>