<div class="z-30 top-0 sticky navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "kuso_app_Institute",root_path, class: "btn btn-ghost normal-case text-xl"  %>
  </div>
  <div class="flex-none gap-2">
    <div class="form-control">
    </div>
  </div>
</div>
