<div class="min-h-screen relative">
  <%= image_tag "normal_clock.png", id: "normal-clock", class: "opacity-50 w-full absolute" %>
  <%= image_tag "devil_clock.png", id: "devil-clock", class: "opacity-50 w-full absolute hidden" %>
  <%= image_tag "light_clock.png", id: "light-clock", class: "opacity-50 w-full absolute hidden" %>
  <div class="absolute m-8">
    <div class="text-5xl md:text-7xl backdrop-blur">PomodoroTimer</div>
    <div class="text-xl md:text-3xl  backdrop-blur">今までにない学習効率をあなたに</div>
    <div class="m-10 my-20">
      <div class="my-2 ml-8 countdown font-mono text-6xl">
        <span id="minutes" style="--value:25;"></span>:<span id="seconds" style="--value:0;"></span>
      </div>
      <div class="">
        <div class="btn btn-secondary", id="start">Start</div>
        <div class="btn btn-secondary", id="pause">Pause</div>
        <div class="btn btn-accent", id="reset">Reset</div>
      </div>
    </div>
    <div class="border backdrop-blur">
      <div class="form-control border-b">
        <label class="label cursor-pointer">
          <span class="text-xl label-text">通常</span> 
          <input id="speed-1x" type="radio" name="radio-10" class="radio checked:bg-red-500" checked />
        </label>
      </div>
      <div class="form-controll border-b">
        <label class="label cursor-pointer">
          <span class="text-xl label-text">二倍の学習効率</span> 
          <input id="speed-2x" type="radio" name="radio-10" class="radio checked:bg-blue-500" />
        </label>
      </div>
      <div class="form-controll border-b">
        <label class="label cursor-pointer">
          <span class="text-xl label-text">三倍の学習効率</span> 
          <input id="speed-3x" type="radio" name="radio-10" class="radio checked:bg-blue-500" />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="text-xl label-text">限界を超えた学習効率</span> 
          <input id="speed-10x" type="radio" name="radio-10" class="radio checked:bg-blue-500" />
        </label>
      </div>
    </div>
  </div>
</div>
<audio id="alarm-sound" src="<%= asset_path 'alarm.mp3' %>" preload="auto"></audio>
<script>
document.addEventListener("DOMContentLoaded", function () {
  let timeLeft = 1500;
  let isBreak = false;
  let timerId = null;
  let speed = 1;
  let workSpeed = 1;
  let studyTime = 0; 

  let elapsedTimeElement = document.getElementById('elapsed-time');

  function playAlarm() {
  let alarm = document.getElementById('alarm-sound');
  alarm.play();
}

  function startTimer() {
    if (timeLeft > 0) {
      timeLeft -= speed;
      displayTime();
    } else {
      playAlarm();
      isBreak = !isBreak;
      if (isBreak) {
        studyTime += 25;
        let minutes = Math.floor(studyTime / 60);
        let seconds = studyTime % 60;
        elapsedTimeElement.textContent = `${minutes < 10 ? '0' + minutes : minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
        speed = 1;
      } else {
        speed = workSpeed;
      }
      timeLeft = isBreak ? 300 : 1500;
      displayTime();
    }
  }
  
  function displayTime() {
    let minutes = Math.floor(timeLeft / 60);
    let seconds = timeLeft % 60;

    document.getElementById('minutes').style.setProperty('--value', minutes);
    document.getElementById('seconds').style.setProperty('--value', seconds < 10 ? '0' + seconds : seconds);
  }

  function updateSpeed() {
    if (document.getElementById('speed-1x').checked) {
      workSpeed = 1;
    } else if (document.getElementById('speed-2x').checked) {
      workSpeed = 2;
    } else if (document.getElementById('speed-3x').checked) {
      workSpeed = 3;
    } else if (document.getElementById('speed-10x').checked) {
      workSpeed = 60;
    }
    speed = workSpeed;
  }

  document.getElementById('start').addEventListener('click', function() {
    updateSpeed();
    if (!timerId) {
      timerId = setInterval(startTimer, 1000);
    }
  });

  document.getElementById('pause').addEventListener('click', function() {
    clearInterval(timerId);
    timerId = null;
  });

  document.getElementById('reset').addEventListener('click', function() {
    clearInterval(timerId);
    timerId = null;
    timeLeft = 1500;
    workSpeed = 1;
    speed = 1;
    displayTime();
  });

  displayTime();
});

//ここから背景切り替え
document.querySelectorAll('input[name="radio-10"]').forEach((input) => {
  input.addEventListener('change', (event) => {
    // 選択されたラジオボタンのIDを取得します
    const selectedId = event.target.id;
    // すべての画像を非表示にします
    document.getElementById('normal-clock').classList.add('hidden');
    document.getElementById('devil-clock').classList.add('hidden');
    document.getElementById('light-clock').classList.add('hidden');
    // 選択されたラジオボタンに応じて画像を表示します
    switch (selectedId) {
      case 'speed-1x':
      case 'speed-2x':
        document.getElementById('normal-clock').classList.remove('hidden');
        break;
      case 'speed-3x':
        document.getElementById('devil-clock').classList.remove('hidden');
        break;
      case 'speed-10x':
        document.getElementById('light-clock').classList.remove('hidden');
        break;
    }
  });
});
</script>