<div class="relative min-h-screen overflow-hidden font-robo">
  <div class="z-20">
    <div class="mockup-window border bg-base-300 h-screen w-screen">
      <div data-controller="media" class="justify-center px-4 text-7xl py-16 bg-base-200 flex-col">
        <video muted class="z-50 w-full h-full object-cover absolute" data-media-target="video">
          <source src="https://kusoappinstitute.s3.ap-northeast-1.amazonaws.com/umbrellas/glitch_-_27706+(1080p).mp4" type="video/mp4">
        </video>
        <audio src="<%= asset_path 'bg.mp3' %>" preload="auto" data-media-target="audio"></audio>
        <audio src="<%= asset_path 'yume.mp3' %>" preload="auto" data-media-target="yume"></audio>
        <div data-media-target="back" class="z-20 hidden"><%= image_tag "macbook.jpg", class: "w-full h-full object-cover absolute" %></div>
      </div>
    </div>
  </div>
</div>