<div class="relative min-h-screen overflow-hidden">
  <div class="z-20">
    <div class="mockup-window border bg-base-300 h-screen w-screen">
      <div data-controller="media" class="justify-center text-7xl bg-base-200 flex-col">
        <video muted class="z-50 w-full h-full object-cover absolute" data-media-target="video">
          <source src="https://kusoappinstitute.s3.ap-northeast-1.amazonaws.com/umbrellas/glitch_-_27706+(1080p).mp4" type="video/mp4">
        </video>
        <audio src="<%= asset_path 'bg.mp3' %>" preload="auto" data-media-target="audio"></audio>
        <audio src="<%= asset_path 'yume.mp3' %>" preload="auto" data-media-target="yume"></audio>
        <div data-media-target="back" class="z-20 hidden"><%= image_tag "macbook.jpg", class: "w-full h-full object-cover absolute" %></#div>
        <div class="hidden absolute bottom-0 flex w-screen" data-media-target="chats">
          <div class="bottom-5 z-40 mx-5 flex-1 relative">
            <div class="h-32 heropattern-floatingcogs-sky-600 opacity-25">
            </div>
            <div class="h-32 rounded-lg border-2 border-sky-900 bg-gradient-to-b from-sky-700 absolute top-0 left-0 right-0 bottom-0">
              <div class="text-sky-100 border-b border-sky-900 px-4 text-2xl">ハル</div>
              <div data-typing-target="play" class="px-4 pt-2 text-sky-100 text-2xl">…………眠ってしまっていた。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>